[Unit]
Description=Limit  Service
Documentation=Andy
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/usr/local/sbin/limit-ip-ssh

[Install]
WantedBy=multi-user.target